<div class="container">
  <div class="row d-flex justify-content-between py-4">
    <div class="col-2 d-flex justify-content-center border border-dark">
      <!-- Empty column so other columns can line up correctly -->
    </div>
    <div class="col-2 d-flex justify-content-center border border-dark">
      <h3 class="">My Cart</h3>
    </div>
    <div class="col-2 d-flex justify-content-center border border-dark">
      <button>Checkout</button>
    </div>
  </div>
  <div class="row py-5 d-flex justify-content-around border border-dark">
    <ul *ngFor="let yoyo of yoyoCart" class="col-3 border border-dark">
      <a routerLink="/yoyo-details/{{yoyo._id}}"><img class="border border-dark" src="" alt="yo yo img"></a>
      <li><a routerLink="/yoyo-details/{{yoyo._id}}">{{yoyo.name}}</a></li>
      <li>{{yoyo.description}}</li>
      <li>Price: ${{yoyo.cost}}</li>
      <li>Value: {{yoyo.value}}/100</li>
    </ul>
  </div>
</div>
