<div class="container">
  <h3 class="text-center py-4">Yo-Yo's!</h3>
  <div class="row py-5 d-flex justify-content-around">
    <ul *ngFor="let yoyo of yoyos" class="col-3">
      <a routerLink="/yoyo-details/{{yoyo._id}}"><img class="" src="../../assets/Cap Yo-Yo.jpg" alt="yo yo img" width="200px"></a>
      <li><a routerLink="/yoyo-details/{{yoyo._id}}">{{yoyo.name}}</a></li>
      <li>{{yoyo.description}}</li>
      <li>Price: ${{yoyo.cost}}</li>
      <li>Value: {{yoyo.value}}/100</li>
      <!--<button (click)="addToCart()">Add to Cart</button> On click event, it runs the addToCart method with yoyo passed in to react to the specific yoyo thats clicked on -->
    </ul>
  </div>
</div>
