<div class="container">
  <h3>Add Another Yo-Yo</h3>
  <form (ngSubmit)="saveYoYo()" #yoyoForm="ngForm">
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" class="form-control" [(ngModel)]="yoyo.name" name="name" required>
    </div>
    <div class="form-group">
      <label for="name">Description: </label>
      <input type="text" class="form-control" [(ngModel)]="yoyo.description" name="description" required>
    </div>
    <div class="form-group">
      <label for="name">Cost: </label>
      <input type="number" class="form-control" [(ngModel)]="yoyo.cost" name="cost" required>
    </div>
    <div class="form-group">
      <label for="name">Value: </label>
      <input type="number" class="form-control" [(ngModel)]="yoyo.value" name="value" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-warning" [disabled]="!yoyoForm.form.valid">Add</button>
    </div>
  </form>
  <h3>Update Existing Yo-Yo</h3>
  <form (ngSubmit)="updateYoYo()" #yoyoForm="ngForm">
    <div class="form-group">
      <label for="name">Id: </label>
      <input type="text" class="form-control" [(ngModel)]="yoyo.id" name="id" required>
    </div>
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" class="form-control" [(ngModel)]="yoyo.name" name="name" required>
    </div>
    <div class="form-group">
      <label for="name">Description: </label>
      <input type="text" class="form-control" [(ngModel)]="yoyo.description" name="description" required>
    </div>
    <div class="form-group">
      <label for="name">Cost: </label>
      <input type="number" class="form-control" [(ngModel)]="yoyo.cost" name="cost" required>
    </div>
    <div class="form-group">
      <label for="name">Value: </label>
      <input type="number" class="form-control" [(ngModel)]="yoyo.value" name="value" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-warning" [disabled]="!yoyoForm.form.valid">Update</button>
    </div>
  </form>
  <h3>Delete Yo-Yo</h3>
  <form (ngSubmit)="deleteYoYo()" #yoyoForm="ngForm">
    <div class="form-group">
      <label for="name">Id: </label>
      <input type="text" class="form-control" [(ngModel)]="yoyo.id" name="name" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-warning" [disabled]="!yoyoForm.form.valid">Delete</button>
    </div>
  </form>
</div>
