<div class="container-fluid">
  <div class="row d-flex justify-content-around" id="header">
    <div class="col-6">
      <h1 id="title" class="display-1 text-center">Yo-Yo Kingdom</h1>
      <p id="subtitle" class="lead text-center">The World's #1 Yo-Yo Showcase!</p>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col d-flex justify-content-center">
      <nav class="navbar navbar-expand-sm navbar-dark">
        <ul class="navbar-nav mr-auto h4 pb-5">
          <li class="nav-item px-4">
            <a href="" class="nav-link" style="color: #ffff66; text-shadow: black 2px 2px 2px;" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              Home
            </a>
          </li>
          <li class="nav-item px-4">
            <a href="" class="nav-link" style="color: #ffff66; text-shadow: black 2px 2px 2px;" routerLink="/yo-yos" routerLinkActive="active">
              Yo-Yo's
            </a>
          </li>
          <li class="nav-item px-4">
            <a href="" class="nav-link" style="color: #ffff66; text-shadow: black 2px 2px 2px;" routerLink="/admin" routerLinkActive="active">
              Edit Yo-Yo's
            </a>
          </li>
          <li class="nav-item px-4">
            <a href="" class="nav-link" style="color: #ffff66; text-shadow: black 2px 2px 2px;" routerLink="/about" routerLinkActive="active">
              About Us
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="row my-5 d-flex justify-content-center" id="footer">
    <div class="col-6">
      <p id="footer-text">Join us for the upcoming World Yo-Yo Championships in April 2089 at Roverville, Mars!</p>
    </div>
  </div>
</div>
<!-- Color Scheme: #4dff4d, #ffff66,#262626, #fff -->
