#header {
  background: #ffff66;
  margin-top: 2rem;
  border-radius: 30px;
  max-width: auto;
}

@keyframes hover-effect {
  0% {
    font-size: 1em;
  }

  50% {
    font-size: 1.2em;
    padding: 0px;
  }

  100% {
    font-size: 1em;
  }
}

.nav-link:hover {
  animation-name: hover-effect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.yellow-print {
  color: #ffff66;
  text-shadow: black 2px 2px 2px;
}

#footer {
  background: #ffff66;
  margin-bottom: 2rem;
  border-radius: 30px;
}

#footer p {
  padding-top: 1rem;
}

@media (max-width: 700px) {
  .nav-link {
    font-size: 0.8em;
  }
}

@media (max-width: 625px) {
  .nav-link {
    font-size: 0.6em;
  }
}

@media (max-width: 560px) {
  #title {
    font-size: 4em;
  }
  #subtitle {
    font-size: 1.2em;
  }
}

@media (max-width: 420px) {
  #title {
    font-size: 3em;
  }
  #subtitle {
    font-size: 1em;
  }
  #footer-text {
    font-size: 0.8em;
  }
}

@media (max-width: 360px) {
  #title {
    font-size: 2.5em;
  }
  #subtitle {
    font-size: 0.8em;
  }
}
