<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-6 d-flex justify-content-center border border-dark">
      <img class="border border-success" src="../../assets/Mega Mind Yo-Yo.jpg" alt="yo-yo img" height="400px">
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-6 d-flex border border-dark">
      <h5>Featured</h5>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-6 d-flex justify-content-around border border-dark">
      <img class="border border-success" src="../../assets/Midas' Yo-Yo.jpg" alt="yo-yo img" height="200px" width="200px">
      <img class="border border-success" src="../../assets/Rim Yo-Yo.png" alt="yo-yo img" height="200px" width="200px">
      <img class="border border-success" src="../../assets/Crimson Knight Yo-Yo.jpg" alt="yo-yo img" height="200px" width="200px">
    </div>
  </div>
</div>
