<form (ngSubmit)="registerUser()" loginForm="ngForm">
  <div class="form-group">
    <label for="username">Username: </label>
    <input type="text" class="form-control" id="username" [(ngModel)]="authService.user.username" name="username" required>
    <!--<div [hidden]="username.valid || username.pristine" class="alert alert-danger">Username is required!</div>-->
  </div>
  <div class="form-group">
    <label for="password">Password: </label>
    <input type="text" class="form-control" id="password" [(ngModel)]="authService.user.password" name="password" required>
    <!--<div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password is required!</div>-->
  </div>
  <div class="form-group">
    <label for="password">Re-enter Password: </label>
    <input type="text" class="form-control" id="password" [(ngModel)]="authService.user.password" name="password" required>
    <!--<div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password is required!</div>-->
  </div>
  <div>
    <button type="submit" class="btn btn-warning">Sign Up</button>
  </div>
</form>
