<div class="container">
  <h3 class="text-center">About Us</h3>
  <div class="row">
    <div class="col d-flex">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id impedit odio vitae temporibus maxime, amet, iste voluptatibus vel ullam consectetur praesentium aperiam voluptas, sapiente, quia dolor! Dignissimos aspernatur dolorum at sint similique cum accusantium, quia tempora vero molestiae iure aut voluptas illum iusto nemo libero voluptatum quasi quas consectetur ullam deleniti iste porro reiciendis aperiam. Nostrum, adipisci? Blanditiis maxime molestias culpa aspernatur nam molestiae voluptate officiis voluptates quasi, quos velit rerum, aperiam repudiandae. Omnis quisquam veritatis reiciendis totam soluta fuga inventore velit sapiente officiis quia. Dolor non commodi cum atque, modi, optio ex ad ipsa, tempora provident id temporibus cumque.</p>
    </div>
  </div>
</div>
