<div class="container">
  <h3 class="text-center yellow-print">About Us</h3>
  <div class="row">
    <div class="col d-flex">
      <p class="yellow-print">We are a group of yo-yo fanatics that have a passion for yo-yo's. We love the art and style that each yo-yo possesses, each one has a unique story behind it. We also love how fun it is to use them for tricks and to express the skill of each yo-yo artist. The first yo-yo was created around the year 500 B.C. in Greece by an unknown person. Little did they know that their invention laid the foundation for yo-yo art and passion for years to come. Throughout history, yo-yo connoisseurs would come together and compare the artistic qualities of yo-yo's and compete in yo-yo tricking competitions. Till this day we still hold these events to display our love for yo-yos and what they mean to us. To the fellow yo-yo fanatics out there, let us band together for the purpose of fun and the expression of our shared yo-yo passion.</p>
    </div>
  </div>
</div>
