#body {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(https://hdwallsource.com/img/2018/2/colorful-yoyos-wallpaper-background-62946-64963-hd-wallpapers.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
